<!-- <% if (success && success.length) { %>
    <h1 style="color: green;"><%= success %></h1>
<% } %>

<% if (error && error.length) { %>
    <h1 style="color: red;"><%= error %></h1>
<% } %> -->

<% if(error && error.length > 0){ %>
    <div class="alert alert-danger" role="alert">
        <%= error %>
    </div>
<% } %>
<% if(success && success.length > 0){ %>
    <div class="alert alert-success" role="alert">
        <%= success %>
    </div>
<% } %>