<!DOCTYPE html>
<html>
    <head>
		<title>OsteoBase</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<link rel="stylesheet" href="/stylesheets/main.css">
	</head>
	<body>

	<nav class="navbar navbar-dark bg-dark">
		<a class="navbar-brand" href="/">OsteoBase</a>
		<form class="form-inline">
			<input class="form-control mr-sm-2" type="search" placeholder="Patient Details" aria-label="Search">
			<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Find Patient</button>
		</form>
	</nav>