<% include ../partials/header %>

<div class="container">

    <h1>New Medical History for <%= patient.firstname + " " + patient.surname %></h1>

    <form id="new-medhist-form" action="/patients/<%= patient._id %>/medhists" method="POST">
        <div class="form-row">
            <div class="form-group col-lg-6">
                <label for="meds-text">Medications?</label>
                <input id="meds-text" name="medhist[meds]" type="text" class="text-input form-control">
            </div>    

            <div class="form-group col-lg-6">            
                <label for="ops-text">Operations?</label>
                <input id="ops-text" name="medhist[ops]" type="text" class="text-input form-control">
            </div>    

            <div class="form-group col-lg-6">                        
                <label for="fracs-text">Fractures?</label>
                <input id="fracs-text" name="medhist[fracs]" type="text" class="text-input form-control">
            </div>    

            <div class="form-group col-lg-6">                        
                <label for="accs-text">Accidents?</label>
                <input id="accs-text" name="medhist[accs]" type="text" class="text-input form-control">
            </div>

            <div class="form-group col-lg-6">                        
                <label for="ill-text">Illnesses?</label>
                <input id="ill-text" name="medhist[ill]" type="text" class="text-input form-control">
            </div>    

            <div class="form-group col-lg-6">                        
                <label for="resp-text">Respiratory?</label>
                <input id="resp-text" name="medhist[resp]" type="text" class="text-input form-control">
            </div>    

            <div class="form-group col-lg-6">                        
                <label for="cvs-text">Cardiovascular?</label>
                <input id="cvs-text" name="medhist[cvs]" type="text" class="text-input form-control">
            </div>    

            <div class="form-group col-lg-6">                                    
                <label for="gu-text">Genitourinary?</label>
                <input id="gu-text" name="medhist[gu]" type="text" class="text-input form-control">
            </div>    

            <div class="form-group col-lg-6">                                    
                <label for="git-text">Gastrointestinal?</label>
                <input id="git-text" name="medhist[git]" type="text" class="text-input form-control">
            </div>    

            <div class="form-group col-lg-6">                                    
                <label for="gynae-text">Gynaecological?</label>
                <input id="gynae-text" name="medhist[gynae]" type="text" class="text-input form-control">
            </div>    

            <div class="form-group col-lg-6">                                    
                <label for="msk-text">Musculoskeletal?</label>
                <input id="msk-text" name="medhist[msk]" type="text" class="text-input form-control">
            </div>    

            <div class="form-group align-self-end">
                <button class="btn btn-success" id="submit-new-medhist-button">Save</button>
                <a href="/patients/<%= patient._id %>" class="btn btn-warning" id="cancel-new-medhist-button">Cancel</a>
            </div>

        </div>

    </form>

</div>

<% include ../partials/footer %>