<!DOCTYPE html>
<html>
<head>
	<title>OsteoBase</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css">
	<link rel="stylesheet" href="/stylesheets/main.css">
  <link rel="stylesheet" type="text/css" href="https://uicdn.toast.com/tui-calendar/latest/tui-calendar.css" />
  <link rel="stylesheet" type="text/css" href="https://uicdn.toast.com/tui.date-picker/latest/tui-date-picker.css" />
  <link rel="stylesheet" type="text/css" href="https://uicdn.toast.com/tui.time-picker/latest/tui-time-picker.css" />
	<script src="https://kit.fontawesome.com/7336d766ea.js" crossorigin="anonymous"></script>
</head>
<body>

<nav class="navbar navbar-dark bg-dark justify-content-start">
	<a class="navbar-brand mb-1" href="/">OsteoBase</a>
	<% if (currentUser) { %>
		<a href="/logout" class="btn btn-sm btn-secondary">Logout <%= currentUser.username %></a>
	<% } %>
</nav>

<% include ../partials/flash-messages %>

<div id="menu">
    <span id="menu-navi">
      <button type="button" class="btn">Today</button>
      <button type="button" class="btn btn-light">
        Previous
      </button>
      <button type="button">
        Next
      </button>
    </span>
    <span id="renderRange" class="render-range"></span>
  </div>

  <div id="calendar"></div>

  <% include ../partials/common-scripts %>
  <script src="https://uicdn.toast.com/tui.code-snippet/v1.5.2/tui-code-snippet.min.js"></script>
  <script src="https://uicdn.toast.com/tui.time-picker/latest/tui-time-picker.min.js"></script>
  <script src="https://uicdn.toast.com/tui.date-picker/latest/tui-date-picker.min.js"></script>
  <script src="https://uicdn.toast.com/tui-calendar/latest/tui-calendar.js"></script>
  <script src="/js/calendar.js"></script>
  <% include ../partials/footer %>