<% include ./partials/header %>

<div class="container">
	<h1 id="login-text">Please Log In</h1>
	
	<form action="/login" method="POST">
		<div class="form-row">
			<div class="form-group col-md-3">
				<label for="login-username">User Name</label>
				<input type="text" class="form-control" name="username" placeholder="username">
			</div>	
			<div class="form-group col-md-3">
				<label for="login-password">Password</label>
				<input type="password" class="form-control" name="password" placeholder="password">
			</div>	
			<div class="form-group col-md-3 align-self-end">
				<input id="signup-login-button" class="btn btn-primary" type="submit" value="Login">	
			</div>
		</div>	
	</form>

	<a href="/signup">Do you need to sign up?</a>

</div>

<% include ./partials/common-scripts %>
<% include ./partials/footer %>