<!DOCTYPE html>
<html>
<head>
	<title>OsteoBase</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="/stylesheets/main.css">
	<script src="https://kit.fontawesome.com/7336d766ea.js" crossorigin="anonymous"></script>
</head>
<body>

<nav class="navbar navbar-dark bg-dark">
	<div class="container">
		<div class="d-flex align-items-center">
			<div class="navbar-brand mb-1">OsteoBase</div>
		</div>
	</div>

</nav>

<% include ./partials/flash-messages %>
	
    <div class="container">

        <h1 id="signup-text">Please Create a new User</h1>
        
        <form action="/signup" method="POST">
            <div class="form-row">
                <div class="form-group col-md-3">
                    <label for="username">User Name</label>
                    <input type="text" class="form-control" name="username" placeholder="username" required autofocus>
                </div>	
                <div class="form-group col-md-3">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" name="password" placeholder="password" required>
                </div>
                <div class="form-group col-md-3">
                    <label for="user_type">User Type</label>
                    <select name="user_type" id="user_type" class="form-control" required>
                        <option value="admin">Admin</option>
                        <option value="practitioner">Practitioner</option>
                        <option value="reception">Reception</option>
                    </select>
                </div>
                <div class="form-group col-md-3">
                    <label for="calendar_color">Calendar Colour</label>
                    <input type="color" class="form-control" name="calendar_color" required>
                </div>				
                <div class="form-group col-md-3 align-self-end">
                    <input id="signup-button" class="btn btn-secondary" type="submit" value="Sign Up">	
                </div>
            </div>	
        </form>
    
        <a href="/login">Back to Log In?</a>
    
    </div>    

<% include ./partials/common-scripts %>    
<% include ./partials/footer %>