<% include ../partials/header %>

<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>Patient Index</h1>

            <div class="list-group">
                <% patients.forEach(function(patient){ %>
                    <a class="list-group-item list-group-item-action list-group-item-light" href="/patients/<%= patient._id%>"><%= patient.firstname + " " + patient.surname %><span class="float-right"><%= moment(patient.dob).format('DD/MM/YYYY') %></span></a>
                <% }); %>
            </div>

        </div>
    </div>   
    <a class="btn btn-primary" href="./patients/new">Add New Patient</a>
</div>

<% include ../partials/footer %>