<% include ../partials/header %>

<h1>Patient Index</h1>

<% patients.forEach(function(patient){ %>
    <div>
        <%= patient.firstname + " " + patient.surname %>
        <a class="btn btn-sm btn-info" href="/patients/<%= patient._id%>">Patient Details</a>
    </div> 
<% }); %>

<a class="btn btn-lg btn-primary" href="./patients/new">Add New Patient</a>

<% include ../partials/footer %>