
body{
    background-color: lightgray;
    font-family: 'Open Sans', sans-serif;
}

.navbar-brand{
    font-size: 2.5em;
}

#new-patient-form,
.submit-edit-button, 
.cancel-edit-button,
.delete-button,
.signoff-edit-button,
.signoff-button,
#upload-button,
#cancel-documents-button,
#delete-documents-button,
.history-scroll{
    display: none;
}

/* Hide id, typecode and timestamp columns */
#patient-table tr th:first-child,
#patient-table tr td:first-child,
#patient-log-table tr th:nth-child(-n+2),
#patient-log-table tr td:nth-child(-n+2){ 
    display: none; 
}

.search {
    border:solid 1px #ccc;
    border-radius: 5px;
    padding:7px 14px;
    margin-bottom:10px
}

div.history-scroll{
    background-color: #e9ecef;
    resize: vertical;
}

.sort.asc, .sort.desc {
    color: #fff;
    background-color: #007bff;
}
.sort.asc::after {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #fff;
    content:"";
    position: relative;
    top:13px;
    right:-5px;
}
  .sort.desc::after {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #fff;
    content:"";
    position: relative;
    top:-10px;
    right:-5px;
}
