
body{
    background-color: lightgray;
    font-family: 'Open Sans', sans-serif;
}

.navbar-brand{
    font-size: 2.5em;
}

#new-patient-form,
.submit-edit-button, 
.cancel-edit-button,
.delete-button,
.signoff-edit-button,
.signoff-button,
.upload-tools,
#delete-documents-button{
/* .column-view{     */
    display: none;
}

/* display after renderin page, reduces flicker */
#patient-table{
    display: none;
}
