<% include ../partials/header %>

<div class="container">

    <h1>New Interview for <%= patient.firstname + " " + patient.surname %></h1>

    <form action="/patients/<%= patient._id %>/interviews" method="POST" autocomplete="off">
        <div class="form-row">
            
            <div class="form-group col-12">
                <label for="CO-text">C/O:</label>
                <input id="CO-text" name="interview[CO]" type="text" class="text-input form-control">
            </div>    
        
            <div class="form-group col-md-2">
                <label for="onset-text">Onset:</label>    
                <input id="onset-text" name="interview[onset]" type="text" class="text-input form-control">
            </div>

            <div class="form-group col-md-10">        
                <label for="reason-text">Reason:</label>
                <input id="reason-text" name="interview[reason]" type="text" class="text-input form-control">
            </div>

            <div class="form-group col-lg-4">
                <label for="agg-text">Worse For:</label>        
                <input id="agg-text" name="interview[agg]" type="text" class="text-input form-control">
            </div>
        
            <div class="form-group col-lg-4">        
                <label for="rel-text">Better For:</label>
                <input id="rel-text" name="interview[rel]" type="text" class="text-input form-control">
            </div>
        
            <div class="form-group col-lg-4">        
                <label for="dp-text">Daily Pattern:</label>
                <input id="dp-text" name="interview[dp]" type="text" class="text-input form-control">
            </div>

            <div class="form-group col-lg-6">        
                <label for="ph-text">Previous History:</label>
                <input id="ph-text" name="interview[ph]" type="text" class="text-input form-control">
            </div>

            <div class="form-group col-lg-6">    
                <label for="invest-text">Investigations:</label>
                <input name="interview[invest]" type="text" class="text-input form-control">
            </div>        
                    
            <div class="form-group align-self-end">
                <button class="btn btn-success" id="submit-new-interview-button">Submit</button>
                <a href="/patients/<%= patient._id %>" class="btn btn-warning" id="cancel-new-interview-button">Cancel</a>
            </div>
        
        </div>
    
    </form>

</div>    

<% include ../partials/footer %>